name: Go build and test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ["1.21.x"]

    steps:
      - uses: actions/checkout@v4
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      # You can test your matrix by printing the current Go version
      - name: Display Go version
        run: go version
      - name: Run go mod tidy
        run: go mod tidy
      - name: Install dependencies
        run: go get k8s.io/client-go/kubernetes
      - name: Install dependencies
        run: go get k8s.io/client-go/rest
      - name: Install dependencies
        run: go get k8s.io/client-go/tools/clientcmd
      - name: Build
        run: go build -o kubecarga .
